repos:
  - repo: local
    hooks:
      # ------------------------
      # 1. ELisp: byte-compile
      # ------------------------
      - id: elisp-byte-compile
        name: Byte-compile ELisp files
        entry: emacs --batch -Q --eval "(add-to-list 'load-path default-directory)" -f batch-byte-compile
        language: system
        files: \.el$
        exclude: ^etc/(example-emacs-inits|dev-emacs-init|tests|snippets)

      # ------------------------
      # 2. ELisp: checkdoc
      # ------------------------
      - id: elisp-checkdoc
        name: Check ELisp docstrings
        entry: emacs --batch -Q -l checkdoc
        language: system
        files: \.el$
        exclude: ^etc/(example-emacs-inits|dev-emacs-init|tests|snippets)

      # ------------------------
      # 3. ELisp: linting
      # ------------------------
      - id: elisp-package-lint
        name: Lint ELisp package
        entry: emacs --batch --init-directory etc/dev-emacs-init/ -l etc/dev-emacs-init/init.el -f package-lint-batch-and-exit
        # entry: emacs --batch -Q -l package-lint -f package-lint-batch-and-exit
        language: system
        files: dwin.el
        exclude: ^etc/(example-emacs-inits|dev-emacs-init|tests|snippets)

      # ------------------------
      # 4. ELisp: whitespace
      # ------------------------
      - id: trailing-whitespace
        name: Check for trailing whitespace
        entry: git diff --check
        language: system
        files: \.el$
        
      # ------------------------
      # 5. ELisp: run ERT tests
      # ------------------------
      - id: elisp-ert
        name: Run ERT tests
        entry: emacs --batch -Q --init-directory etc/dev-emacs-init/ -l ert -l etc/dev-emacs-init/init.el -f ert-run-tests-batch-and-exit
        language: system
        files: ^etc/tests/.*\.el$

      # ------------------------
      # 6. Markdown link checking
      # ------------------------
      - id: lychee
        name: Lychee link checker
        entry: lychee
        language: system
        types: [markdown]
        args: ["--verbose"]
